$primary: #ffc01e;
$primary-hover: #ecb11a;
$primary-rgba: rgba($primary, 0.1);
$custom-gray: rgb(124, 124, 124);
$parlement: #23303d;
$parlement-hover: #16212c;

$custom-theme-colors: (
  "primary": $primary,
  "gray": $custom-gray,
  "white": #fff,
  "parlement": $parlement
);

$grid-breakpoints: (
  xs: 0,
  sm: 36rem,
  md: 48rem,
  lg: 62rem,
  xl: 75rem,
  xxl: 87.5rem,
  xxxl: 108.75rem
);

$container-max-widths: (
  sm: 33.75rem,
  md: 45rem,
  lg: 60rem,
  xl: 71.25rem,
  xxl: 82.5rem,
  xxxl: 108.75rem
);

@use "../node_modules/bootstrap/scss/bootstrap" with (
  $theme-colors: $custom-theme-colors,
  $form-check-input-checked-bg-color: $primary,
  $form-check-input-checked-border-color: $primary,
  $input-placeholder-color: #fff,
  $focus-ring-width: 0,
  $link-color: $primary,
  $link-hover-color: $primary,
  $grid-breakpoints: $grid-breakpoints,
  $container-max-widths: $container-max-widths
);

$font-primary: "Mona Sans";

@import "./scss/components";

html,
body {
  font-family: "Mona Sans";
  overflow-x: hidden;
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
}

a {
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $primary;
  }
}

header {
  z-index: 3;
  nav.navbar {
    background-color: transparent;
    height: 6.625rem;
    padding: 2rem;
    z-index: 1;

    /*Custom Toggler*/
    .custom-toggler {
      display: none;
      position: relative;
      border: none;
      background: transparent;
      padding: 0.25rem;
      flex-direction: column;
      justify-content: space-around;
      height: 41px;
      width: 52px;

      @media (max-width: 991px) {
        display: flex;
      }

      .toggler-icon {
        display: block;
        height: 2px;
        width: 100%;
        background-color: $primary;
        margin: 0;
        transition: 0.3s ease-in-out;
      }

      &.collapsed .top-bar {
        transform: rotate(0) translateY(0);
      }

      &.collapsed .middle-bar {
        opacity: 1;
      }

      &.collapsed .bottom-bar {
        transform: rotate(0) translateY(0);
      }

      &:not(.collapsed) .top-bar {
        transform: rotate(38deg) translateY(13px);
      }

      &:not(.collapsed) .middle-bar {
        opacity: 0;
      }

      &:not(.collapsed) .bottom-bar {
        transform: rotate(-38deg) translateY(-14px);
      }
    }

    .nav-item {
      margin: 0 1.2rem;

      .nav-link {
        color: #1a1a1a;
        font-weight: 600;
        font-size: 1.125rem;
        padding: 0;
        transition: all 0.3s ease-in-out;
        text-transform: uppercase;

        &:hover {
          color: $primary;
        }
      }
    }

    .dropdown-menu {
      position: absolute;
      padding: 0.5rem 0rem;
      border-left: none;
      border-right: none;
      border-bottom: none;
      left: 0;
      top: 5.85rem;
      border-top: 0;
      background: #fff;
      border-radius: 1rem;
      box-shadow: 2px 2px 6px #00000057;

      li {
        position: relative;
      }

      li:first-child {
        a.dropdown-item {
          &.active,
          &:hover {
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
          }
        }
      }

      li:last-child {
        a.dropdown-item {
          &.active,
          &:hover {
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
          }
        }
      }

      .dropdown-item {
        font-size: 1rem;
        font-weight: 500;
        color: #000000;
        transition: all 0.3s ease-in-out;
        margin: 0;
        padding: 0.6rem 1.5rem 0.6rem 2rem;

        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
          min-width: 11rem;
        }

        svg {
          color: #fff;
          fill: #fff;
        }

        &:hover {
          color: #f4b000;
          background-color: #2f2f2f;
        }
      }

      .dropdown-item.active,
      .dropdown-item:active {
        color: #f4b000;
        background-color: #2f2f2f;
      }

      @media (max-width: 991px) {
        position: relative;
        border: 0 !important;
        top: 0;
        padding: 0.3rem 0 0 0;

        .dropdown-item {
          margin: 0;
        }
      }
    }

    .dropdown-submenu {
      position: relative; // Alt menünün pozisyonunu belirler

      .dropdown-menu {
        margin-left: 0rem;
        left: 100%; // Sağ tarafta açılmasını sağlar
        top: 0;
        margin-top: -1px; // Dikey hizalamayı ayarlar
        visibility: hidden; // Varsayılan olarak gizler
        opacity: 0;
        transition: all 0.3s ease-in-out;
      }

      &:hover > .dropdown-menu {
        // Hover durumunda alt menüyü görünür yapar
        visibility: visible;
        opacity: 1;
      }

      // Mobil görünüm için
      @media (max-width: 991px) {
        .dropdown-menu {
          position: relative;
          left: 0;
          top: 0;
          margin-top: 0;
          display: none; // Gizler
        }

        &:hover > .dropdown-menu {
          display: block; // Görünür yapar
        }
      }
    }
  }

  @media (max-width: 1200px) {
    nav.navbar {
      padding: 1.5rem 2rem;
      background: #fff;

      .logo-wrapper {
        max-width: 200px;
      }

      .nav-item {
        margin: 0 0.6rem;

        .nav-link {
          font-size: 12px;
        }
      }
    }
  }

  @media (max-width: 992px) {
    nav.navbar {
      height: auto;

      .navbar-collapse {
        margin-top: 1rem;
      }

      .logo-wrapper {
        max-width: 140px;
      }

      .nav-item {
        margin: 0.6rem 0;

        .nav-link {
          font-size: 14px;
        }
      }
    }

    li.nav-item.dropdown.custom-dropdown-menu .dropdown-menu {
      margin: 0.5rem 0;
    }
  }

  @media (min-width: 992px) {
    a.dropdown-toggle {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .navbar-collapse {
      height: 96px;
    }

    ul.navbar-nav {
      height: 100%;
      align-items: center;
      display: flex;
      justify-content: center;

      li.nav-item {
        height: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
      }
    }
  }

  @media (max-width: 36rem) {
    top: 0;
  }
}

@import "./scss/hero";

main {
  &.sub-page-main {
    margin-top: 6.625rem;

    .products-section {
      h1 {
        font-size: 3.75rem;
        font-weight: 800;
        line-height: 1.3;
        color: #000;
      }
      p {
        font-weight: 500;
        font-size: 2.25rem;
        color: #000000;
      }
    }
  }
  padding: 0rem 0 0 0;

  .page-header-section {
    padding: 3rem 0 6rem 0;
  }

  .page-banner {
    position: relative;
    overflow: hidden;
    background: #fff;
    border-radius: 25px;
    padding: 2rem 3rem;
    box-shadow: 3px -2px 8px #00000026;
    z-index: 1;

    &::before {
      content: "";
      position: absolute;
      right: -6rem;
      top: 3%;
      width: 30%;
      height: 70%;
      background-image: url("../images/dunya-geneli-arkaplan.webp");
      background-repeat: no-repeat;
      background-size: contain;
      z-index: 0;
      opacity: 0.4;
    }

    &.hero-banner {
      padding: 0;
      margin: 0;
      &::before {
        opacity: 0;
        visibility: hidden;
      }
      max-height: 535px;
      height: 535px;
      img {
        border-radius: 1.5625rem;
        object-fit: cover;
        width: 100%;
        height: 535px;
      }
    }

    .page-banner-heading {
      display: flex;
      flex-direction: column;
    }

    h1 {
      font-size: 3rem;
      font-weight: 800;
      color: $primary;
      border-bottom: 1px solid #ccc;
      margin-bottom: 0.5rem;
      line-height: 1.6;
      order: 2;
    }

    h2 {
      font-size: 1.3125rem;
      font-weight: 500;
      color: #000000;
      order: 1;
    }

    h3 {
      font-size: 1.5rem;
      font-weight: 600;
      color: #000000;
      margin-top: 1rem;
      margin-bottom: 1rem;
      order: 3;
    }

    .page-banner-content {
      p {
        color: #000000;
        font-size: 1.125rem;
        font-weight: 400;
      }
    }

    .img-fluid {
      z-index: 3;
    }

    @media (max-width:1200px) {
      h1 {
        font-size: 2rem;
      }
    }
  }

  .about-content-section {
    img.left-image {
      max-height: 32.1875rem;
    }
  }

  @media (max-width: 1200px) {
    &.sub-page-main {
      .products-section {
        h1 {
          font-size: 2rem;
        }
      }
    }
    .page-banner {
      h2 {
        font-size: 1.125rem;
      }
      h3 {
        font-size: 1.125rem;
      }
      p {
        font-size: 1rem;
      }
    }
  }
  @media (max-width: 992px) {
    &.sub-page-main {
      .products-section {
        h1 {
          font-size: 1.4rem;
        }
      }
    }
    .page-banner {
      padding: 1.6rem 1.6rem;
      &.hero-banner {
        height: auto;
        max-height: 15.75rem;
        img {
          height: auto;
        }
      }
      
    }
  }
  @media (max-width: 576px) {
    .page-header-section {
      padding: 0 0 3rem 0;
      .mobile-right-area {
        position: absolute;
        right: 0;
      }
    }
  }
}

.product-header-right-image-area {
  position: relative;
  margin-top: -8rem;
  z-index: 2;
  background: #fff;
  padding: 1rem;
  border-radius: 25px;
  height: 430px;
  .image-box {
    height: 100%;
  }
  img {
    border-radius: 25px;
    height: 100%;
    object-fit: cover;
  }

  @media (max-width: 992px) {
    margin-top: -9rem;
    margin-right: 2rem;
    height: auto;
  }

  @media (max-width: 576px) {
    .product-header-right-image-area {
      padding: 0.5rem;
    }
  }
}

/* Ana Sayfa İlk section */
.first-section {
  background-color: #f8f8f8;
  padding: 4rem 0 6rem 0;
  overflow: hidden;

  .image-box {
    border-radius: 1.875rem;
  }
  .left-image {
    border-radius: 1.875rem;
  }

  .right-area {
    display: flex;
    flex-direction: column;
    overflow: hidden;
  }

  .left-info-box,
  .right-info-box {
    border-radius: 1rem;
    padding: 1rem 1.5rem;
    display: flex;
    flex-direction: column;
    height: 206px;
    justify-content: space-between;
    transition: all 0.6s ease-in-out;
    cursor: pointer;

    &:hover {
      transform: scale(1.05);
    }

    .info-box-header {
      display: flex;
      justify-content: space-between;
      .info-box-head-right {
        width: 3.125rem;
        height: 3.125rem;
        border-radius: 50%;
        text-align: center;
        align-items: center;
        display: flex;
        justify-content: center;
      }
    }

    .stats-data {
      font-size: 2.25rem;
      font-weight: 800;
      margin-bottom: 0;
    }
    .info-box-desc {
      font-size: 1.125rem;
      font-weight: 500;
    }

    @media (max-width: 992px) {
      margin-bottom: 1rem;
    }
  }
  .left-info-box {
    background-color: #fff;
    .info-box-head-right {
      background-color: $primary;
    }
  }
  .right-info-box {
    background-color: $primary;
    .info-box-head-right {
      background-color: #fff;
    }
  }

  .experienced-info {
    display: flex;
    flex-direction: row;
    margin-bottom: 2rem;
    .right-experienced-info {
      display: flex;
      flex-direction: column;
      margin-left: 1rem;
      strong {
        color: #2b2b2b;
        font-size: 1rem;
        font-weight: 700;
      }
      span {
        color: #2b2b2b;
        font-size: 1rem;
      }
    }
  }
}

.home-page-divider-section {
  padding: 3rem 0;
  .section-title {
    display: flex;
    align-items: center;

    h2 {
      font-size: 2.25rem;
      font-weight: 600;
      color: #f4b000;
      white-space: nowrap;
      padding-right: 1rem;
    }

    .divider {
      flex-grow: 1;
      height: 1px;
      background-color: #8c8c8c;
      margin: 0 1rem;
    }

    a.btn-all-links {
      color: #3c3c3c;
      font-size: 1.3125rem;
      font-weight: 400;
      text-decoration: none;
      white-space: nowrap;
      padding-left: 1rem;
      transition: all 0.4s ease-in-out;
      &:hover {
        color: $primary;
      }
    }
  }

  @media (max-width: 36rem) {
    .section-title {
      h2 {
        font-size: 1.125rem;
      }
      a.btn-all-links {
        font-size: 0.875rem;
      }
    }
  }
}

.home-products-section {
  z-index: 1;
  position: relative;

  $card-bg: #ffffff;
  $card-border-radius: 20px;
  $box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);

  .product-image-slider {
    height: 100%;
    border-radius: 25px;
    background-color: #f8f8f8;
    box-shadow: 3px 3px 9px #00000017;
  }

  .swiper-slide-active {
    .product-card {
      border-radius: 25px;
      &.big-card {
        background-color: #f8f5f5;
        box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
        border-radius: 25px;
      }
    }
  }

  // Custom card styles
  .product-card {
    border: none;
    border-radius: $card-border-radius;
    background-color: #ffffff;
    box-shadow: $box-shadow;
    transition: transform 0.3s ease;
    overflow: hidden;

    &.big-card {
      .card-body {
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: center;
        img {
          height: auto;
        }
      }
    }

    .card-body {
      padding: 2rem;
    }

    // Badge styles
    .product-badge {
      background-color: $primary;
      color: #000;
      font-weight: bold;
      padding: 0.5rem 1rem;
      border-radius: 30px;
      position: absolute;
      top: 20px;
      left: 20px;
      z-index: 10;
    }

    @media (max-width: 1200px) {
      .card-body {
        img {
          margin-top: 1.5rem;
        }
      }
    }
  }

  // Big card for main product
  .big-card {
    height: 100%;

    img {
      border-radius: $card-border-radius;
      object-fit: cover;
      height: 100%;
      width: 100%;
    }
  }

  // Header styles
  .product-header {
    h2 {
      font-weight: bold;
      color: #333;
      font-size: 2.5rem;
      line-height: 1.2;
    }
    p {
      color: #666;
      margin-top: 1rem;
    }
  }

  // Detail button style
  .detail-btn {
    background-color: #333;
    color: white;
    border-radius: 10px;
    padding: 0.75rem 1.5rem;
    font-weight: bold;

    &:hover {
      background-color: #555;
    }
  }

  .next-btn {
    background-color: #f8f8f8;
    color: #333;
    font-weight: bold;
    border-radius: 50px;
    padding: 0.75rem 2rem;
    border-top: 2px solid #eeeeee;
    border-bottom: 2px solid #7c7c7c;
    border-bottom: 2px solid #7c7c7c;
    border-bottom: 2px solid #7c7c7c;
    margin-left: 2rem;

    &:hover {
      background-color: #eee;
    }
  }

  .page-number {
    font-size: 1.5rem;
    font-weight: bold;
    color: #888;
  }

  .divider-short {
    width: 200px;
    background-color: #8b8b8b;
    height: 2px;
    margin-left: 1rem;
  }

  @media (max-width: 992px) {
    .product-header {
      h2 {
        margin-top: 1.5rem;
        font-size: 1.5rem;
      }
    }
  }
}

.last-news-section {
  background-color: #f8f8f8;
  z-index: 1;
  position: relative;

  .news-card {
    position: relative;
    background-color: #fff;
    height: 385px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 0;
    border-radius: 2rem;
    padding: 2rem;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    margin-bottom: 2rem;

    .card-img-top {
      object-fit: contain;
      max-height: 205px;
      transition: all 0.4s ease-in-out;
    }
    a {
      text-decoration: none;
      text-align: center;
      color: #1a1a1a;
      font-size: 1.875rem;
      font-weight: 600;
      h4 {
        color: #1a1a1a;
        font-size: 1.875rem;
        font-weight: 600;
      }
    }

    &:hover {
      .card-img-top {
        transform: scale(0.95);
      }
      a {
        color: $primary;
      }
    }
  }
}

/* Home Page Video Section Stilleri */
.home-pagevideo-section {
  background-color: #f8f8f8;
  position: relative;

  &::before {
    content: "";
    position: absolute;
    right: 0;
    top: 10%;
    width: 30%;
    height: 100%;
    background-image: url("../images/dunya-geneli-arkaplan.webp");
    background-repeat: no-repeat;
    z-index: 0;
  }

  .homepage-video-section-first-desc {
    margin-bottom: 1.5rem;
    z-index: 1;
    p {
      font-size: 3rem;
      font-weight: 600;
      color: #1a1a1a;
      @media (max-width: 1200px) {
        font-size: 1.5rem;
      }
    }
  }

  .content p {
    font-size: 1.5rem;
    font-weight: 400;
    font-family: "Mona Sans";
    color: #1a1a1a;
  }

  .home-video-area {
    position: relative;
    width: 100%;
    height: 43.75rem;
    overflow: hidden;

    border-top-left-radius: 1.5625rem;
    border-top-right-radius: 1.5625rem;
    @media (max-width: 1200px) {
      height: 26rem;
    }
  }
  .video-box {
    width: 100%;
    height: 100%;
    position: relative;
    border-top-left-radius: 1.5625rem;
    border-top-right-radius: 1.5625rem;

    &::after {
      content: "";
      position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
      width: 100%;
      height: 100%;
      z-index: 1;
      background: linear-gradient(to bottom, rgba(0, 0, 0, 0.4) 0%, transparent 100%),
        linear-gradient(to top, rgb(248 248 248) 0%, transparent 40%);
      mask-image: linear-gradient(to bottom, black 50%, transparent 100%);
      -webkit-mask-image: linear-gradient(to bottom, #ffffff 100%, #ffffff 100%);
    }

    .play-button {
      width: 80px;
      height: 80px;
      z-index: 2;
      svg {
        width: 80px;
        height: 80px;
        color: #fff;
      }
    }
  }
  .video-poster {
    width: 100%;
    object-fit: cover;
    border-radius: 1.5625rem;
  }
  .play-button {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
    background: none;
    cursor: pointer;
    transition: transform 0.3s ease;
    z-index: 1;
  }
  .play-button:hover {
    transform: translate(-50%, -50%) scale(1.1);
  }
  /* Küçük resimler için düzenleme */
  .thumbnails-container {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    padding: 0 1rem;
    display: flex;
    justify-content: center;
    z-index: 10;
    @media (max-width: 1200px) {
      overflow-x: auto; /* Mobil cihazlarda yatay kaydırma ekler */
      -webkit-overflow-scrolling: touch; /* iOS için daha pürüzsüz kaydırma sağlar */
      justify-content: flex-start; /* Mobil görünümde küçük resimleri sola hizala */
    }
  }
  .thumbnails-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1.5rem;
    padding: 1rem 0;
    @media (max-width: 1200px) {
      justify-content: flex-start; /* Mobil görünümde sola hizalamayı koru */
      min-width: max-content; /* Tüm küçük resimlerin aynı satırda kalmasını sağlar */
    }
  }
  .thumbnail {
    width: 200px;
    height: 120px;
    overflow: hidden;
    cursor: pointer;
    border: 2px solid transparent;
    transition: all 0.3s ease-in-out;
    flex-shrink: 0;
    border-radius: 1.5625rem;
    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 1.5625rem;
    }
    &:hover {
      border-color: rgba(255, 255, 255, 0.6);
    }
    &.active {
      border-color: #67a8fe;
      transform: scale(1.1);
    }
  }

  @media (max-width: 1200px) {
    .content {
      margin-top: 2rem;
      p {
        font-size: 1rem;
      }
    }
    .video-poster {
      height: 100%;
    }
  }
}

.products-list-section {
  background-color: #f8f8f8;
  padding: 3rem 0;
  h1,
  h2 {
    font-size: 1.875rem;
    color: #2b2b2b;
    font-weight: 600;
    margin-bottom: 2rem;
    text-align: center;
    span {
      color: $primary;
    }
  }

  .product-card {
    padding: 1.5rem 2rem;
    max-height: 570px;
    min-height: 570px;
    margin-bottom: 2rem;
    box-shadow: 3px 4px 10px #adadad6e;
    .product-heading {
      display: flex;
      align-items: self-start;
      justify-content: space-between;
    }
    .product-title {
      background-color: #ffc01e;
      color: #000;
      font-size: 1.5rem;
      font-weight: 600;
      border-radius: 1.875rem;
      padding: 0.5rem 0.8rem;
      max-width: 50%;
    }
    a {
      i.btn-icon {
        width: 24px;
        height: 24px;
        background-image: url("../images/Buton-icon-1.webp");
        background-repeat: no-repeat;
        background-size: contain;
        display: inline-block;
        vertical-align: middle;
        transition: all 0.1s ease-in-out;
      }
      &:hover {
        background-color: #000000;
        color: #f8f5f5;
      }
    }
    .product-image {
      position: relative;
      overflow: hidden;
      img {
        max-height: 470px;
        object-fit: contain;
        transition: all 0.6s ease-in-out;
      }
    }

    &:hover {
      .product-image {
        img {
          transform: scale(0.85);
        }
      }
    }

    @media (max-width: 992px) {
      max-height: 500px;
        min-height: 500px;
        justify-content: space-between;
      .product-title {
        font-size: 1rem;
      }
      a {
        font-size: 1rem;
        .btn-icon-bg {
          width: 1.6rem;
          height: 1.6rem;
          display: flex;
          justify-content: center;
          align-items: center;
        }
        i.btn-icon {
          width: 1rem;
          height: 1rem;
        }
      }
    }
  }

  .product-addional-card {
    padding: 1rem;
    border: 0;
    margin-bottom: 2rem;
    border-radius: 1rem;
    box-shadow: 3px 4px 10px #adadad6e;
    height: 420px;
    .product-heading {
      background-color: $primary;
      border-radius: 1rem;
      h4 {
        font-size: 1.5rem;
        font-weight: 700;
        padding: 1rem 1rem 0.5rem 1rem;
      }
    }
    .card-body {
      .content p {
        color: #000000;
        font-size: 1.125rem;
      }
    }
    @media (max-width: 1200px) {
      height: auto;
      .product-heading {
        h4 {
          font-size: 1.125rem;
        }
      }
      .card-body {
        .content p {
          color: #000000;
          font-size: 1rem;
        }
      }
    }
  }
}

.products-desc-sections {
  background: #f8f8f8;
  .products-desc-box {
    border-radius: 1.5625rem;
    background-color: #fff;
    align-items: center;
    justify-content: space-between;
    h3 {
      font-size: 2.25rem;
      font-weight: 700;
      margin-bottom: 2rem;
    }
    .content p {
      font-size: 1.3125rem;
    }
  }
  @media (max-width: 1200px) {
    .products-desc-box {
      h3 {
        font-size: 1.5rem;
      }
      .content p {
        font-size: 1rem;
      }
    }
  }
}

.contact-page-section {
  .page-banner {
    &::before {
      display: none;
    }
  }

  ul {
    margin-bottom: 3rem;
    li {
      margin-bottom: 2rem;
      a {
        color: #000;
        font-size: 1.3125rem;
        font-weight: 600;
        display: inline-flex;
      }
      span {
        color: #000000;
        font-size: 1.3125rem;
        font-weight: 600;
      }
    }
  }
  ul li,
  ul li a {
    span.icon {
      background-color: $primary;
      border-radius: 50%;
      height: 1.875rem;
      width: 1.875rem;
      display: inline-flex;
      justify-content: center;
      align-items: center;
      margin-right: 1rem;
      svg {
        color: #000;
        fill: #000;
        height: 1rem;
        width: 1rem;
      }
    }
  }
  iframe {
    border-radius: 1.5625rem;
  }
}

.footer {
  background: #ffc01e;
  background: linear-gradient(0deg, rgb(255, 192, 30) 30%, rgb(248, 248, 248) 50%);
  color: #333;
  padding: 5rem 0 1rem 0;

  .footer-row {
    background-color: #ffffff;
    padding: 2.5rem 1rem;
    border-radius: 1.5625rem;
    box-shadow: 0 0 20px #2b2b2b4d;

    .footer-logo {
      position: relative;
      margin-bottom: 2rem;
      img {
        height: auto;
        max-height: 4.375rem;
      }
    }
  }

  .footer-heading {
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: #333;
    font-size: 1.125rem;
  }

  .list-unstyled {
    padding-left: 0;
    list-style: none;

    li {
      margin-bottom: 0.33rem;
    }

    a {
      color: #1a1a1a;
      text-decoration: none;
      font-size: 1.125rem;
      transition: all 0.4s ease-in-out;
      position: relative;
      display: flex;

      &:hover {
        transform: translateX(0.4rem);
        color: $primary-hover;
      }
    }

    @media (max-width: 62rem) {
      a {
        justify-content: center;
      }
    }
  }

  .social-links {
    a {
      margin-right: 15px;
      color: #555;
      text-decoration: none;
      font-size: 0.9rem;

      &:hover {
        color: #000;
      }
    }
  }

  .social-icons {
    a {
      svg {
        width: 1.5rem;
        height: auto;
        color: #2b2b2b;
      }
      &:hover {
        transform: scale(1.1);
        opacity: 0.9;
      }
    }
    @media (max-width: 992px) {
      justify-content: center;
    }
  }

  .footer-contact-list {
    font-size: 1.125rem;
    line-height: 1.5;
    li {
      margin-bottom: 0.5rem;
      display: flex;
      flex-direction: row;
      font-size: 1.125rem;
      a {
        font-size: 1.125rem;
        display: inline-flex;
      }
    }
    @media (max-width: 992px) {
      li {
        justify-content: center;
      }
    }
  }

  .footer-bottom {
    margin: 1.5rem 0 1rem 0;
    p,
    a {
      color: #003253;
      text-decoration: none;
      font-size: 1.125rem;
      font-weight: 400;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

// Mobil cihazlar için responsive ayarlar
@media (max-width: 991.98px) {
  .footer-row {
    flex-direction: column;
  }
  .footer-heading,
  .footer-contact-list,
  .social-links,
  .footer-list {
    text-align: center;
    li a {
      text-align: center;
    }
  }
  .footer-logo {
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

@media (max-width: 992px) {
  main.sub-page-main {
    .page-banner {
      .page-banner-content {
        &.timeline-page-banner-content {
          width: 100% !important;
          top: 50%;

          h1 {
            margin-bottom: 0;
          }

          .slider-btn-prev {
            left: 0;
            top: 0;
          }
          .slider-btn-next {
            right: 0;
            top: 0;
          }

          .timeline-bottom-line {
            position: relative;
            bottom: 0;
          }

          .mobile-slider-conrols {
            position: relative;
          }

          .slider-btn svg {
            width: 35px;
            height: 35px;
          }
        }
      }
    }
  }

  .timeline-slider-section {
    padding: 0;
  }
}

@import "./scss/swiper.scss";
