$primary: #dd1f25;
$primary-hover: #ce181e;
$primary-rgba: rgba($primary, 0.1);
$secondary: #2fbec1;
$custom-gray: rgb(124, 124, 124);
$parlement: #23303d;
$parlement-hover: #16212c;

$custom-theme-colors: (
  "primary": $primary,
  "secondary": $secondary,
  "gray": $custom-gray,
  "white": #fff,
  "parlement": $parlement
);

$grid-breakpoints: (
  xs: 0,
  sm: 36rem,
  md: 48rem,
  lg: 62rem,
  xl: 75rem,
  xxl: 87.5rem,
  xxxl: 108.75rem
);

$container-max-widths: (
  sm: 33.75rem,
  md: 45rem,
  lg: 60rem,
  xl: 71.25rem,
  xxl: 82.5rem,
  xxxl: 100rem
);

@use "../node_modules/bootstrap/scss/bootstrap" with (
  $theme-colors: $custom-theme-colors,
  $form-check-input-checked-bg-color: $primary,
  $form-check-input-checked-border-color: $primary,
  $input-placeholder-color: #fff,
  $focus-ring-width: 0,
  $link-color: $primary,
  $link-hover-color: $primary,
  $grid-breakpoints: $grid-breakpoints,
  $container-max-widths: $container-max-widths
);

.container-header {
  max-width: 106.25rem;
  margin: 0 auto;
}

.col-lg-2-5 {
  @media (min-width: 60rem) {
    width: 20%;
  }
}

$font-primary: "Red Hat Display";

@import "./scss/components";

html,
body {
  font-family: "Red Hat Display";
  overflow-x: hidden;
  overscroll-behavior: none;
  margin: 0;
  padding: 0;
  font-weight: 400;
}

a {
  transition: all 0.3s ease-in-out;

  &:hover {
    color: $primary;
  }
}

header {
  z-index: 3;
  .top-bar {
    background-color: $primary;
    height: 3.1875rem;
    align-items: center;
    display: flex;
    a {
      color: #fff;
      margin-right: 24px;
      text-decoration: none;
      font-size: 1rem;
      font-weight: 500;
      &:hover {
        opacity: 0.9;
      }
      &:last-child {
        margin-right: 0;
      }
    }
  }
  nav.navbar {
    background-color: transparent;
    height: 6.875rem;
    z-index: 1;

    /*Custom Toggler*/
    .custom-toggler {
      display: none;
      position: relative;
      border: none;
      background: transparent;
      padding: 0.25rem;
      flex-direction: column;
      justify-content: space-around;
      height: 41px;
      width: 52px;

      @media (max-width: 991px) {
        display: flex;
      }

      .toggler-icon {
        display: block;
        height: 2px;
        width: 100%;
        background-color: $primary;
        margin: 0;
        transition: 0.3s ease-in-out;
      }

      &.collapsed .top-bar {
        transform: rotate(0) translateY(0);
      }

      &.collapsed .middle-bar {
        opacity: 1;
      }

      &.collapsed .bottom-bar {
        transform: rotate(0) translateY(0);
      }

      &:not(.collapsed) .top-bar {
        transform: rotate(38deg) translateY(13px);
      }

      &:not(.collapsed) .middle-bar {
        opacity: 0;
      }

      &:not(.collapsed) .bottom-bar {
        transform: rotate(-38deg) translateY(-14px);
      }
    }

    .nav-item {
      margin: 0 1.2rem;

      .nav-link {
        color: #2d2d2d;
        font-weight: 800;
        font-size: 1.125rem;
        padding: 0;
        transition: all 0.3s ease-in-out;
        text-transform: uppercase;

        &:hover {
          color: $primary;
        }
      }
    }

    .dropdown-menu {
      position: absolute;
      padding: 0.5rem 0rem;
      border-left: none;
      border-right: none;
      border-bottom: none;
      left: 0;
      top: 6rem;
      border-top: 0;
      background: #fff;
      border-radius: 1rem;
      box-shadow: 2px 2px 6px #2d2d2d;

      li {
        position: relative;
        border-bottom: 1px solid #e2e2e2;
      }

      li:first-child {
        a.dropdown-item {
          &.active,
          &:hover {
            border-top-left-radius: 1rem;
            border-top-right-radius: 1rem;
          }
        }
      }

      li:last-child {
        border-bottom: 0;
        a.dropdown-item {
          &.active,
          &:hover {
            border-bottom-left-radius: 1rem;
            border-bottom-right-radius: 1rem;
          }
        }
      }

      .dropdown-item {
        font-size: 1rem;
        font-weight: 700;
        color: #383838;
        transition: all 0.3s ease-in-out;
        margin: 0;
        padding: 0.6rem 1.5rem 0.6rem 2rem;

        display: flex;
        align-items: center;
        justify-content: space-between;

        span {
          min-width: 11rem;
        }

        svg {
          color: #fff;
          fill: #fff;
        }

        &:hover {
          color: $primary;
          background-color: #fff;
        }
      }

      .dropdown-item.active,
      .dropdown-item:active {
        color: $primary;
        background-color: #fff;
      }

      @media (max-width: 991px) {
        position: relative;
        border: 0 !important;
        top: 0;
        padding: 0.3rem 0 0 0;

        .dropdown-item {
          margin: 0;
        }
      }
    }

    .dropdown-submenu {
      position: relative; // Alt menünün pozisyonunu belirler

      .dropdown-menu {
        margin-left: 0rem;
        left: 100%; // Sağ tarafta açılmasını sağlar
        top: 0;
        margin-top: -1px; // Dikey hizalamayı ayarlar
        visibility: hidden; // Varsayılan olarak gizler
        opacity: 0;
        transition: all 0.3s ease-in-out;
      }

      &:hover > .dropdown-menu {
        // Hover durumunda alt menüyü görünür yapar
        visibility: visible;
        opacity: 1;
      }

      // Mobil görünüm için
      @media (max-width: 991px) {
        .dropdown-menu {
          position: relative;
          left: 0;
          top: 0;
          margin-top: 0;
          display: none; // Gizler
        }

        &:hover > .dropdown-menu {
          display: block; // Görünür yapar
        }
      }
    }
  }

  .language-nav {
    .nav-item {
      a.nav-link {
        color: $secondary;
      }
    }
  }

  @media (max-width: 1200px) {
    nav.navbar {
      padding: 1.5rem 2rem;
      background: #fff;

      .logo-wrapper {
        max-width: 200px;
      }

      .nav-item {
        margin: 0 0.6rem;

        .nav-link {
          font-size: 12px;
        }
      }
    }
  }

  @media (max-width: 992px) {
    nav.navbar {
      height: auto;

      .navbar-collapse {
        margin-top: 1rem;
      }

      .logo-wrapper {
        max-width: 140px;
      }

      .nav-item {
        margin: 0.6rem 0;

        .nav-link {
          font-size: 14px;
        }
      }
    }

    li.nav-item.dropdown.custom-dropdown-menu .dropdown-menu {
      margin: 0.5rem 0;
    }
  }

  @media (min-width: 992px) {
    a.dropdown-toggle {
      height: 100%;
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .navbar-collapse {
      height: 96px;
    }

    ul.navbar-nav {
      height: 100%;
      align-items: center;
      display: flex;
      justify-content: center;

      li.nav-item {
        height: 100%;
        align-items: center;
        display: flex;
        justify-content: center;
      }
    }
  }

  @media (max-width: 36rem) {
    top: 0;
  }
}

@import "./scss/hero";

.last-news-section {
  background-color: #f8f8f8;
  z-index: 1;
  position: relative;

  .news-card {
    position: relative;
    background-color: #fff;
    height: 385px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    border: 0;
    border-radius: 2rem;
    padding: 2rem;
    transition: all 0.4s ease-in-out;
    overflow: hidden;
    margin-bottom: 2rem;

    .card-img-top {
      object-fit: contain;
      max-height: 205px;
      transition: all 0.4s ease-in-out;
    }
    a {
      text-decoration: none;
      text-align: center;
      color: #1a1a1a;
      font-size: 1.875rem;
      font-weight: 600;
      h4 {
        color: #1a1a1a;
        font-size: 1.875rem;
        font-weight: 600;
      }
    }

    &:hover {
      .card-img-top {
        transform: scale(0.95);
      }
      a {
        color: $primary;
      }
    }
  }
}

.references-section {
  position: relative;
  padding: 40px 0;
  .references-logos {
    background-color: #f9f9f9;
    border-radius: 1.5625rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8.75rem;
    transition: all 0.3s ease-in-out;
    &:hover {
      transform: scale(1.1);
    }
  }
}

.homepage-two-section {
  position: relative;
  height: 36rem;

  background-image: url("../images/ilk-tir-yol.webp");
  background-repeat: no-repeat;
  background-size: contain;

  display: flex;
  align-items: center;
  justify-content: center;

  &::after {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
    width: 50%;
    background: linear-gradient(to left, rgb(249 206 8), rgb(249 206 8 / 0%));
    content: " ";
  }

  .white-area {
    background: #fff;
    position: relative;
    z-index: 1;
    padding: 1rem;
    border-radius: 25px;
    h2 {
      font-size: 1.875rem;
      font-weight: 900;
      color: $primary;
      margin-bottom: 1.5rem;
    }
    .content p {
      color: #2d2d2d;
      font-size: 1.125rem;
      font-weight: 500;
      margin-bottom: 1.5rem;
    }
    a {
      display: inline-block;
      background-color: rgb(249 206 8);
      border-radius: 25px;
      color: #2d2d2d;
      font-size: 1rem;
      font-weight: 700;
      padding: 0.5rem 1rem;
      width: 9.5rem;
      height: 2.625rem;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: rgb(236, 195, 8);
        transform: scale(0.98);
      }
    }
  }
}

.shell-section {
  margin-top: 3rem;
  margin-bottom: 3rem;
  .first-shell-area {
    max-height: 450px;
  }
  .two-shell-recharge {
    max-height: 450px;
  }

  img.img-full {
    width: 100%;
    max-height: 450px;
    min-height: 450px;
    object-fit: cover;
    border-radius: 20px 0 0 20px;
  }
  .left-image-area {
    padding: 0;
  }

  .right-shell-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .shell-button {
    border-radius: 30px;
    width: 9.375rem;
    height: 2.75rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    color: #fff;
    text-decoration: none;
    &:hover {
      transform: scale(1.05);
    }
  }

  .heading {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 1.5rem;
    img {
      max-width: 300px;
      max-height: 105px;
      object-fit: cover;
    }
  }

  /* Ortak stiller */
  .right-red-area,
  .right-gray-area {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .shell-button {
    border-radius: 30px;
    width: 9.375rem;
    height: 2.75rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s ease-in-out;
    color: #fff;
  }

  /* Kırmızı Alanın (right-red-area) spesifik renkleri ve arka planı */
  .right-red-area {
    background-color: #e1251b;
  }

  .right-red-area h2 {
    font-size: 1.875rem;
    font-weight: 800;
    color: #fff;
    margin-bottom: 0;
  }

  .right-red-area .content p {
    color: #fff;
    font-size: 1.125rem;
    font-weight: 500;
  }

  .right-red-area .shell-button {
    background-color: #bb0000;
  }

  .right-red-area .shell-button:hover {
    transform: scale(1.05);
    background-color: #a70202;
  }

  /* Gri Alanın (right-gray-area) spesifik renkleri ve arka planı */
  .right-gray-area {
    background-color: #f5f5f5;
  }

  .right-gray-area h2 {
    font-size: 1.875rem;
    font-weight: 800;
    color: #0097bb; /* Gri alan için farklı başlık rengi */
    margin-bottom: 0;
  }

  .right-gray-area .content p {
    color: #000000; /* Gri alan için farklı paragraf rengi */
    font-size: 1.125rem;
    font-weight: 500;
  }

  .right-gray-area .shell-button {
    background-color: #09bcd4; /* Gri alan için farklı buton rengi */
  }

  .right-gray-area .shell-button:hover {
    transform: scale(1.05);
    background-color: #07b2c9;
  }
}

.home-popular-products-section {
  h3 {
    font-size: 1.3125rem;
    font-weight: 800;
    color: #292929;
    margin-bottom: 0;
    width: auto;
  }
}

.home-popular-products-section {
  position: relative;

  .product-slider-controls {
    width: 116px;
    height: 40px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .product-slider-container {
    position: relative;
    margin: 0 auto;
    padding: 20px 0;
    overflow: hidden;
  }

  .product-slider-wrapper {
    display: flex;
    transition: transform 0.5s ease-in-out;
  }

  .product-card {
    position: relative;
    width: 33%;
    box-sizing: border-box;
    border-radius: 15px;
    overflow: hidden;
    justify-content: space-between;
    border: 0;
    height: auto;
    display: flex;

    img {
      width: 100%;
      height: auto;
      object-fit: cover;
      display: block;
      border-radius: 0.9375rem;
      max-height: 210px;
      min-height: 210px;
    }

    a {
      z-index: 11;
      text-decoration: none;
      color: #292929;
      font-size: 0.875rem;
    }

    @media (max-width: 992px) {
      width: 90%;
      height: 420px;
    }
  }

  .card-content {
    position: relative;
    width: 100%;
    padding: 1.625rem 1.375rem 0 1.375rem;
    z-index: 1;
    border: 0;
    flex: 1;
  }

  .card-content h4 {
    margin-bottom: 1rem;
    font-size: 1.3125rem;
    font-weight: 900;
    color: #292929;
  }

  .card-content p {
    margin: 10px 0 0;
    font-weight: 400;
    color: #292929;
    font-size: 1rem;
  }

  a.detail-link {
    background: transparent;
    border: 0;
    padding: 1.625rem 1.375rem 0 1.375rem;
    font-size: 0.875rem;
    color: #292929;
    margin-bottom: 1rem;
    span {
      margin-right: 0.5rem;
      font-size: 0.875rem;
      color: #292929;
    }
  }

  .prev-btn,
  .next-btn {
    cursor: pointer;
    width: 38px;
    height: 38px;
    background-color: transparent;
    border: 1px solid #b4b4b4;
    border-radius: 0.75rem;
    transition: 0.6s ease;
    user-select: none;
    z-index: 20;
    display: flex;
    align-items: center;
    justify-content: center;
    svg {
      fill: #b4b4b4;
    }
    &:hover {
      background-color: transparent;
      border: 1px solid $primary;
      svg {
        fill: $primary-hover;
        transition: all 0.3s ease-in-out;
      }
    }
  }

  .prev-btn {
    margin-right: 1rem;
    &:hover {
      svg {
        transform: translateX(-0.15rem);
      }
    }
  }

  .next-btn {
    &:hover {
      svg {
        transform: translateX(0.15rem);
      }
    }
  }

  .home-services-left-box {
    h5 {
      color: #464646;
      font-size: 2.25rem;
    }

    p {
      color: #464646;
      font-size: 1.3125rem;
    }
  }

  .home-services-right-box {
    h6 {
      font-family: $font-primary;
      font-size: 2.25rem;
      color: #e62b27;

      span {
        font-family: $font-primary;
        font-size: 1.3125rem;
        color: #e62b27;
      }
    }

    p {
      color: #404040;
      font-size: 1.125rem;
    }
  }

  @media (max-width: 992px) {
    .home-services-right-box {
      margin-bottom: 1rem;
      margin-top: 2rem;
    }
    .project-slider-controls {
      position: relative;
      bottom: 0;
      right: 0;
      top: 0;
    }
  }
}

.home-news-sections {
  position: relative;
  background-color: #f5f5f5;
  padding: 3rem 0 6rem 0;
  h2 {
    font-size: 1.3125rem;
    color: #292929;
    font-weight: 800;
  }
}

.company-info-first-section {
  background-color: #ffffff;
}

.company-info-two-section {
  background-color: #f5f5f5;
}

.company-info-first-section,
.company-info-two-section {
  padding: 3rem 0;
  h2 {
    font-size: 1.875rem;
    font-weight: 800;
    color: #313131;
    margin-bottom: 1.5rem;
  }
  p {
    font-size: 1.125rem;
    font-weight: 500;
    color: #313131;
  }
  img {
    max-height: 37.5rem;
    min-height: 37.5rem;
    object-fit: cover;
    border-radius: 0.9375rem;
  }
}

.company-news-sections {
  position: relative;
  background-color: #ffffff;
  padding: 3rem 0 6rem 0;
  h2 {
    font-size: 1.3125rem;
    color: #292929;
    font-weight: 800;
  }
}

.contact-us-section {
  position: relative;
  background-color: #f8f8f8;
  padding: 3rem 0;
  .contact-info-area {
    margin-top: 3rem;
    h1 {
      margin-bottom: 1rem;
      font-size: 1.875rem;
      color: #2b2b2b;
      font-weight: 800;
    }
  }
  .contact-address {
    list-style-type: none;
    padding-left: 0;
    li {
      font-size: 1.125rem;
      color: #000000;
      font-weight: 600;
      margin-bottom: 0.5rem;
      a {
        font-weight: 500;
        font-size: 1.125rem;
        color: #000000;
      }
    }
  }
  iframe {
    border-radius: .9375rem;
  }
}

.company-ik-section {
  position: relative;
  background-color: #f5f5f5;
  padding: 3rem 0;
  p {
    font-size: 1.125rem;
    color: #000000;
    font-weight: 300;
    i {
      font-weight: 600;
    }
  }
}

.form-area {
  background-color: #fff;
  padding: 1rem 2rem;
  border-radius: .9375rem;
  h2 {
    color: #bd1b20;
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
  }
  form {
    .form-floating {
      input {
        border: 0;
        border-radius: 0;
        border-bottom: 1px solid $primary;
        padding: 1rem 0rem;
      }
      label {
        padding: 1rem 0;
      }
    }
    .btn-outline-dark {
      margin-top: 1rem;
      border: 1px solid #373737;
      border-radius: 15rem;
      padding: 0.25rem 2rem;
      font-size: 1rem;
      color: #373737;
      transition: all 0.3s ease-in-out;
      &:hover {
        background-color: #373737;
        color: #fff;
      }
    }
  }
}

.all-news-sections {
  position: relative;
  background-color: #f5f5f5;
  padding: 3rem 0;
  h2 {
    font-size: 1.3125rem;
    color: #292929;
    font-weight: 800;
  }
}

.page-detail-content-section {
  padding: 3rem 0;
  p {
    font-size: 1.125rem;
  }
}

.footer {
  position: relative;
  color: #333;
  padding: 0;

  .footer-top {
    background-color: #f9ce08;
    height: 7.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    a {
      color: #000000;
      font-size: 1.125rem;
      font-weight: 500;
      text-decoration: none;
      b {
        font-weight: 600;
      }
    }
  }

  .footer-row {
    background-color: #434343;
    padding: 2.5rem 1rem;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .footer-heading {
    font-weight: 800;
    text-transform: uppercase;
    margin-bottom: 1rem;
    color: #fff;
    font-size: 1.125rem;
  }

  .list-unstyled {
    padding-left: 0;
    list-style: none;

    li {
      color: #fff;
      margin-bottom: 0.33rem;
    }

    a {
      color: #fff;
      text-decoration: none;
      font-size: 1.125rem;
      transition: all 0.4s ease-in-out;
      position: relative;
      display: flex;

      &:hover {
        transform: translateX(0.4rem);
        color: $secondary;
      }
    }

    @media (max-width: 62rem) {
      a {
        justify-content: center;
      }
    }
  }

  .social-icons {
    a {
      background-color: #282828;
      width: 2rem;
      height: 2rem;
      display: flex;
      align-items: center;
      justify-content: center;
      border-radius: 50%;
      svg {
        width: 1.125rem;
        height: auto;
        color: #f9ce08;
        fill: #f9ce08;
      }
      &:hover {
        transform: scale(1.05);
      }
    }
  }

  .footer-contact-list {
    font-size: 1.125rem;
    line-height: 1.5;
    li {
      margin-bottom: 0.5rem;
      display: flex;
      flex-direction: row;
      font-size: 1.125rem;
      a {
        font-size: 1.125rem;
        display: inline-flex;
      }
    }
    @media (max-width: 992px) {
      li {
        justify-content: center;
      }
    }
  }

  .footer-bottom {
    background-color: #fff;
    align-items: center;
    display: flex;
    justify-content: center;
    p,
    a {
      color: #545454;
      text-decoration: none;
      font-size: 0.875rem;
      font-weight: 400;
    }
    a:hover {
      text-decoration: underline;
    }
  }
}

// Mobil cihazlar için responsive ayarlar
@media (max-width: 991.98px) {
  .footer-row {
    flex-direction: column;
  }
  .footer-heading,
  .footer-contact-list,
  .social-links,
  .footer-list {
    text-align: center;
    li a {
      text-align: center;
    }
  }
  .footer-logo {
    justify-content: center;
    align-items: center;
    display: flex;
  }
}

@media (max-width: 992px) {
  main.sub-page-main {
    .page-banner {
      .page-banner-content {
        &.timeline-page-banner-content {
          width: 100% !important;
          top: 50%;

          h1 {
            margin-bottom: 0;
          }

          .slider-btn-prev {
            left: 0;
            top: 0;
          }
          .slider-btn-next {
            right: 0;
            top: 0;
          }

          .timeline-bottom-line {
            position: relative;
            bottom: 0;
          }

          .mobile-slider-conrols {
            position: relative;
          }

          .slider-btn svg {
            width: 35px;
            height: 35px;
          }
        }
      }
    }
  }

  .timeline-slider-section {
    padding: 0;
  }
}

@import "./scss/swiper.scss";
